.container {
    position: fixed;
    bottom: 0;
    height: var(--bottom-tab-height);
    width: 100%;
    background-color: var(--background);
    border-top: 1px solid #585858;
}

@media (min-width: 768px) {
    .container {
        display: none;
    }
}