.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-bottom: var(--bottom-tab-height);
    background-color: var(--background);
}

@media (min-width: 768px) {
    .main {
        min-height: calc(100vh - var(--navbar-height));
        height: auto;
        padding: 0;
    }
}