.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    border: none;
    background: rgb(201, 165, 85);
    background: linear-gradient(90deg, rgba(201, 165, 85, 1) 0%, rgba(201, 165, 85, 0.6) 100%);
}

.container::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: var(--card-background);
    border-radius: 50%;
}

.container img {
    z-index: 1;
    width: 54px;
    object-fit: contain;
}

@media (max-height: 800px) {
    .container {
        width: calc(80px * 0.6);
        height: calc(80px * 0.6);
    }

    .container img {
        z-index: 1;
        width: calc(56px * 0.6);
        height: calc(56px * 0.6);
    }
}