@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
    font-family: 'Integral CF';
    src: local('Integral CF'),
        url('/fonts/IntegralCF-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-nunito: 'Nunito Sans', sans-serif;
    --font-integral-cf: 'Integral CF', sans-serif;

    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;
}